<!DOCTYPE html>
<html lang="zh-CN">

<#include "./common/head.html">

<style>
.min_chunk {
    position: absolute;
    left: -8px;
    top: 2px;
    width: 3px;
    height: 20px;
    background: #f60;
}

</style>

<body>
	<#include "./common/header.html">
	
	<div class="neibanner" style="background:url(/images/banner_about.jpg) no-repeat 50%; background-size: cover;"></div>
	
	<div class="neipagename">
	  <div class="pagename_en">ABOUT US</div>
	  <br>
	  <div class="pagename_ch">
	    <div>加入我们</div>
	  </div>
	</div>

	<div class="neimenu">
	  <div> </div>
	</div>

	<div class="about">
		
		<h3 style="position: relative;"><i class="min_chunk"></i>职位</h3>
			业务经理<br>
		<br>
		<h3 style="position: relative;"><i class="min_chunk"></i>职位诱惑：</h2>
			做五休二,五险一金,团队绩效,节日福利<br>
	  	<br>
	  	<h3 style="position: relative;"><i class="min_chunk"></i>职位描述：</h2>
			职位类别：业务拓展经理/主管 销售代表 业务员<br>
			五金业务：对电子元器件，连接器件，散热片件，等五金冲压件有一定的了解，有多年的业务经验，并具有有业务资源优先录用。<br>
			吸塑业务：有一定的包装材料需求的客户资源。<br>
		<br>
		<h3 style="position: relative;"><i class="min_chunk"></i>工作地点：</h2>
			江苏省苏州昆山市张浦镇大市淞沪东路8号<br>
		<br>
		<h3 style="position: relative;"><i class="min_chunk"></i>联系方式；</h2>
			手机：13584996396(刘先生)<br>
		<br>
	</div>

	<#include "./common/footer.html" />
</body>
</html>