	<div class="sidebar" id="sidebar">
		<script type="text/javascript">
			try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		</script>

		<ul class="nav nav-list">
			<li>
				<a href="/management/products">
					<i class="icon-picture"></i>
					<span class="menu-text"> 图片添加与展示 </span>
				</a>
			</li>
			
			<li>
				<a href="/management/companyProfile/Info">
					<i class="icon-edit"></i>
					<span class="menu-text"> 公司信息 </span>
				</a>
			</li>
			<li>
				<a href="/management/leaveWord/show">
					<i class="icon-list"></i>
					<span class="menu-text">留言 </span>
				</a>
			</li>
			<li>
				<a href="/management/user/edit/page">
					<i class="icon-list"></i>
					<span class="menu-text">修改密码 </span>
				</a>
			</li>
		</ul>
		
		<!-- /.nav-list -->

		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
		</div>

		<script type="text/javascript">
			try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		</script>
	</div>
					